/*
CSS Credit: http://www.Ftemplate.ru
*/

@font-face {
    font-family: "Gill Sans MT"; /* Гарнитура шрифта */
    src: url(/fonts/gill.ttf); /* Для остальных браузеров */


/*local(Gill Sans MT),*/
}

html {
    background: #212121;
}

body {
    margin: 0;
    padding:0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    width: 100%;
    display: table;
    background: #212121;
}

a:link, a:visited {	color: #fff; text-decoration: none; }
a:active, a:hover { color: #fff; text-decoration: underline; }

p,pre,div{
    font-size: 14px;
    font-family: Gill Sans MT;
    /*font-family: "Times New Roman", Times, serif;*/
    color: rgba(227, 229, 222, 0.96);
    /*text-align: justify;*/
   /*// margin: 0 0 10px 0;*/
}

h1 {
    font-size: 22px;
    color: rgba(227, 229, 222, 0.96);
    font-family: "Gill Sans MT";
    font-weight: normal;
    margin: 0 0 15px 0;
}

h2 {
    font-size: 18px;
    color: rgba(227, 229, 222, 0.96);
    margin: 0 0 10px 0;
}

.templatemo_container {
    width: 976px;
    margin: 0 auto;
}

#templatemo_top_section {
    width: 100%;
    height: 183px;
    background:  rgba(227, 229, 222, 0.96) repeat;
}

#templatemo_header {
    width: 976px;
    height: 132px;
    padding: 1px 0 0 0;
}

#templatemo_logo_area {
    float: left;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
    width: 251px;
    height: 75px;
    margin: 15px 0 0 0;
}

#templatemo_logo_area h2 {
    font-size: 48px;
    color: #fff;
    margin: 0 0 10px 0;
}

#templatemo_logo_area img {
    border: 0px solid #00a8e1;
}


#templatemo_logo_area p {
    font-size: 13px;
    color: #fff;
    margin: 0 0 0 5px;
}

#templatemo_top_right {
    float: right;
    margin: 5px 0 0 0;
}
#templatemo_subscribe {

    width: 180px;
    height: 18px;
    background: #ffffff;
}

span.subscribe_text {
    float: left;
    color: #dddddd;
    font-size: 12px;
    background: #434343;
    padding: 0 3px 0 0;
}

#templatemo_social {
    float: right;
    /*width: 200px;*/
    /*height: 40px;*/
    /*background: rgba(227, 229, 222, 0.96);*/
    margin: 5px 0 0 0;
}

#templatemo_social img {
    width: 30px;
    height: 30px;
    border: none;
    margin: 5px 0 0 18px;
}

/* menu */

#templatemo_menu {
    align-self: center;
    align-content: center;
    width: 100%;
    height: 43px;
    margin: 138px 0 0 0;
    padding: 0 0 0 0;
}

#templatemo_menu ul {
    /*float: right;*/
    /*margin: 20px;*/
    padding: 0 0 0 0;
    width: 100%;
    list-style: none;
}

#templatemo_menu ul li {
    display: inline-block;
    position: relative;
    /*margin-right: 40px;*/

}

#templatemo_menu ul li a {
    float: left;
    padding: 12px 0 0 0;
    text-align: center;
    text-decoration: none;
    background: url(/images/templatemo_menu.png) no-repeat;
    width: 101px;
    height: 32px;
    font-size: 14px;
    outline: none;
    color: rgba(227, 229, 222, 0.96);
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
    background: url(/images/templatemo_menu_current.png) no-repeat;
}

/* end of menu*/

.templatemo_middle_section {
    width: 100%;
    margin-bottom: 15px;
    background-image: url(/images/templatemo_middle_bg.png);
    background-position: bottom;
    background-color: #707070;
    background-repeat: repeat-x;
}

.templatemo_content_area {
    width: 100%;
    padding: 20px 0;
}

.templatemo_content_area p{
    font-size: 14px;
    color: rgba(227, 229, 222, 0.96);
    text-align: justify;
    margin: 0 0 10px 0;
    word-wrap: break-word;
}

.templatemo_three_col {
    width: 310px;
    float: left;
    margin: 0 0 10px 0;
}

.left_col {
    float: left;
}

.left_col p{
    float: left;
}

TD.leftcol {
    width: 550px; /* Ширина левой колонки с рисунком */
    vertical-align: top; /* Выравнивание по верхнему краю */
}

img {
    border: 2px solid rgba(227, 229, 222, 0.96);
}

.middle_col {
    margin: 0 20px 10px 20px;
}

.right_col {
    float: right;
}

.templatemo_three_col img {
    border: 10px solid #fff;
    margin: 0 0 10px 0;
}

#templatemo_middle_section_2 {
    width: 100%;
    background: url(/images/templatemo_middle_2_bg.jpg);
    background-position: top;
    background-color: #434343;
    background-repeat: repeat-x;
    border-bottom: 3px solid #000;
}

#templatemo_middle_content {
    width: 100%;
    background: url(/images/templatemo_middle_2_bg_2.jpg) no-repeat;
    background-position: top;
    padding: 10px 0 0 0;
}

.templatemo_title {
    width: 100%;
    padding: 10px 0;
    background: url(/images/templatemo_tittle.png) no-repeat right center;
    border-bottom: 1px solid #464646;
    margin: 0 0 10px 0;
}

.templatemo_title h1 {
    margin: 0;
}

.bottom_section p {
    color: #b0b0b0;
}

.bottom_section img {
    float: left;
    margin: 0 10px 10px 0;
    border: none;
}

.bottom_middle_col {
    width: 290px;
    margin: 0 0 10px 30px;
}
.templatemo_quote_open {
    background: url(/images/quote_open.png) no-repeat top left;
    width: 100%;
}

.templatemo_quote_close {
    background: url(/images/quote_close.png) no-repeat bottom right;
    width: 100%;
    padding: 10px 0;
    margin: 0 0 10px 0;
}

.templatemo_gallery {
    width: 100%;
}

.templatemo_gallery img {
    float: left;
    margin: 0;
    padding: 0;
}

.templatemo_gallery img.mid {
    margin: 0 12px 12px 12px;
}

.templatemo_h_line {
    height: 0px;
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #434343;
    margin: 0 0 10px 0;
}

.templatemo_more {
    float: right;
    background: url(/images/templatemo_readmore.png);
    width: 101px;
    height: 25px;
    font-size: 13px;
    text-align: center;
    margin: 10px 10px 10px 0;
    color: #ffebb5;
    padding: 3px 0 0 0;
}

.templatemo_more a {
    color: #ffebb5;
    text-decoration: none;
}

.templatemo_more:hover {
    text-decoration: underline;
}

.templatemo_list {
    list-style: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #b0b0b0;
    padding: 0;
}

.templatemo_list li {
    background: url(/images/templatemo_bullet.png) no-repeat;
    background-position: 0 7px;
    border-bottom: 1px solid #535353;
    padding: 0 0 5px 15px;
    margin: 0 0 5px 0;
}

.templatemo_list a {
    color: #b0b0b0;
    text-decoration: none;
}

.templatemo_list a:hover {
    color: #ccc;
    text-decoration: none;
}

#templatemo_footer {
    width: 100%;
    color: #b0b0b0;
    margin: 0;
    text-align: center;
    padding: 20px 0;
}

#templatemo_footer a {
    color: #858383;
}

.cleaner {
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
}

.cleaner_width_left {
    float: left;
    width: 50px;
    height: 1px;
}

.cleaner_width_right {
    float: right;
    width: 50px;
    height: 1px;
}

span.error {
    color: #ff4d4d;
}

.errorblock{
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding:8px;
    margin:16px;
}

span.error {
    color: #ff4d4d;
}

.titleproject {
    text-align:  center;
    color: rgba(227, 229, 222, 0.96);
    font-family: Gill Sans MT;

    font-size: 150%; /* Размер шрифта */
    border-bottom: 2px solid black; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 15px; /* Расстояние от текста до линии */
}

.titleproject a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: rgba(227, 229, 222, 0.96);
}

.youtube {
    color: lightseagreen;
}

.downloads_content_area {
    width: 100%;
    padding: 20px 0;
}

/*.downloads_content_area p {*/
    /*/!*float: left;*!/*/
    /*font-size: 13px;*/
    /*color: rgba(227, 229, 222, 0.96);*/
    /*text-align: left;*/

    /*word-wrap: break-word;*/
    /*margin-top: 20px;*/
/*}*/

.downloads_content_area img {
    border: none;
    float: right;
}

.downloads_content_area a {
    border: none;
    float: right;
}

.downloads_content_area td {
    padding: 20px;
    border: 1px solid black;
}


.partners_content_area {
    width: 100%;
    padding: 20px 0;
}


.partners_content_area p {
    /*float: left;*/
    font-size: 13px;
    color: rgba(227, 229, 222, 0.96);
    text-align: left;

    word-wrap: break-word;
    margin-top: 20px;
}

.part_title {
    margin-top: 5px;
}

.partners_content_area img {
    border: 1px solid rgba(227, 229, 222, 0.96);
}

.leftimg {
    float: left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

/*2paging*/

.paginate {
    text-align: center; }
.paginate ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
.paginate li {
    display: inline; }
.paginate a {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
    margin: 1px 2px;
    padding: 10px 20px;
    display: inline-block;
    border-top: 1px solid #fff;
    text-decoration: none;
    color: #717171;
    font-size: small;
    font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
    text-shadow: white 0 1px 0;
    background-color: rgba(227, 229, 222, 0.96);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, rgba(227, 229, 222, 0.96), rgba(227, 229, 222, 0.96));
    background-image: -moz-linear-gradient(top, rgba(227, 229, 222, 0.96), rgba(227, 229, 222, 0.96));
    background-image: -ms-linear-gradient(top, rgba(227, 229, 222, 0.96), rgba(227, 229, 222, 0.96));
    background-image: -o-linear-gradient(top, rgba(227, 229, 222, 0.96), rgba(227, 229, 222, 0.96));
    background-image: linear-gradient(top, rgba(227, 229, 222, 0.96), rgba(227, 229, 222, 0.96));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea'); }
.paginate a:first-child, .paginate a.first {
    margin-left: 0; }
.paginate a:last-child, .paginate a.last {
    margin-right: 0; }
.paginate a:hover, .paginate a:focus {
    border-color: #fff;
    background-color: rgba(227, 229, 222, 0.96);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
    background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
    background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
    background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
    background-image: -o-linear-gradient(top, #fefefe, #fafafa);
    background-image: linear-gradient(top, #fefefe, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa'); }
.paginate a.more {
    box-shadow: 0 0 0 0 transparent;
    border: 0 none;
    background: transparent;
    margin-left: 0;
    margin-right: 0; }
.paginate a.active {
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
    border-color: #505050;
    color: rgba(227, 229, 222, 0.96);
    text-shadow: black 0 1px 0;
    background-color: #676767;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
    background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
    background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
    background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
    background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);
    background-image: linear-gradient(top, #5f5f5f, #5c5c5c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c'); }

.paginate-dark a {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
    border-top: 1px solid #62686d;
    text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
    color: #fff;
    background-color: #4e5458;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#575e63), to(#3f4347));
    background-image: -webkit-linear-gradient(top, #575e63, #3f4347);
    background-image: -moz-linear-gradient(top, #575e63, #3f4347);
    background-image: -ms-linear-gradient(top, #575e63, #3f4347);
    background-image: -o-linear-gradient(top, #575e63, #3f4347);
    background-image: linear-gradient(top, #575e63, #3f4347);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575e63', EndColorStr='#3f4347'); }
.paginate-dark a:hover, .paginate-dark a:focus {
    border-color: #61788a;
    background-color: #4d6374;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#566f82), to(#3e505e));
    background-image: -webkit-linear-gradient(top, #566f82, #3e505e);
    background-image: -moz-linear-gradient(top, #566f82, #3e505e);
    background-image: -ms-linear-gradient(top, #566f82, #3e505e);
    background-image: -o-linear-gradient(top, #566f82, #3e505e);
    background-image: linear-gradient(top, #566f82, #3e505e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#566f82', EndColorStr='#3e505e'); }
.paginate-dark a.active {
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
    border-color: #2d3035;
    background-color: #303338;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#303338), to(#2d3034));
    background-image: -webkit-linear-gradient(top, #303338, #2d3034);
    background-image: -moz-linear-gradient(top, #303338, #2d3034);
    background-image: -ms-linear-gradient(top, #303338, #2d3034);
    background-image: -o-linear-gradient(top, #303338, #2d3034);
    background-image: linear-gradient(top, #303338, #2d3034);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303338', EndColorStr='#2d3034'); }

.albumblock {
    /*width: 100%;*/
    /*height: 110px;*/
    background-color: rgba(0, 0, 0, 0.1);

}

.albumblock img {
    /*position: relative;*/
    border: 1px solid rgba(0, 0, 0, 0.96);
    margin: 5px;
    height: 100px;
}
